
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(169, 163, 163, 0.966);
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.logo img{
    max-width: 180px;
    max-height: 180px;
}

/* ESTILO DO CABEÇALHO */

header{
    padding: 40px 4%;
}