
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.logo a{
    font-size: 20px;
    color: #fff;
}

.interface .logo a{
    margin: -15px;
}
.img-octcat img{
    top: 120px; /* Distância do topo */
    width: 500px;
    height: 600px;
    position: absolute;
}

div .btn-contato i{
    display: inline-block;
    font-size: 15px;
    color: #fff;
}

.btn-contato button{
    font-size: 18px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.btn-contato button:hover{
    font-weight: 700;
    transform: translateY(7px);
}

.btn-link {
    position: relative;
    display: inline-block;
}

.btn-link button,
.btn-link i {
    transition: transform 0.3s ease-out;
}

.btn-link:hover button,
.btn-link:hover i {
    font-weight: 700;
    transform: translateX(10px); /* Ajuste o valor conforme necessário */
}

div.txt-topo-site h2{
    margin-top: 10px;
    color: rgb(0, 183, 255);
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: rgb(0, 183, 255);
}

/* ESTILO DO CABEÇALHO */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #636262;
    text-decoration: none;
    display: inline-block;
}

.menu-desktop li a{
    padding: 10px 30px;
    border: 0;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.menu-desktop li a:hover{
    font-weight: 600;
    transform: translateY(7px);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}
/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    width: 100%;
    padding: 235px 4%;
}

section.topo-do-site .flex{
    max-width: 700px; 
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    text-align: left;
    color: #fff;
    font-size: 39px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: rgb(0, 183, 255);
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
    text-align: left;
}

#texto-animado{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    color: rgb(0, 183, 255);
    border-right: 2px solid #000; /* Linha de simulação do cursor de digitação */
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Esconde o texto excedente */
    animation: typing 2s steps(40, end), blink-caret 0.5s step-end infinite;
}
/* KEYFRAMES */

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #000;
    }
  }

/* ESTILO ESPECIALIDADES */
section.especialidades{
    padding: 60px 4%;
}

.especialidades-box p{
    text-align: left;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 17px #ffffff95;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: rgb(0, 183, 255);
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;;
}

/* ESTILO DO SOBRE */
section.sobre{
    display: flex;
    align-items: center;
    padding: 85px 4%;
    box-shadow: 0 0 40px 10px #ffffff34;
}

section.sobre .flex{
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.img-octcat2 img{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 0; /* Ajusta a posição da imagem à esquerda */
    transform: translateY(-50%);
}

.sobre .txt-sobre{
    flex: 1;
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: rgb(0, 183, 255);
    display: block;
}

.sobre .txt-sobre p {
    margin: 18px 0;
    text-align: left;
}

.btn-social button{
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: #fff;
    font-size: 21px;
    cursor: pointer;
    margin: 0 5px;
}

.btn-social button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 17px #ffffff95;
    transition: 1.2s;
}

/* ESTILO DO PORTFÓLIO */

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff34;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

/* CARD PORFOLIO */
.container-port{
    position: relative;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.container-port .card{
    position: relative;
    cursor: pointer;
}

.container-port .card .face{
    width: 300px;
    height: 201px;
    transition: 0.5s;
}

.container-port .card .face.face1{
    position: relative;
    background: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container-port .card:hover .face.face1{
    background: rgb(0, 183, 255);
    transform: translateY(0);
}

.container-port .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container-port .card:hover .face.face1 .content{
    opacity: 1;
}

.container-port .card .face.face1 .content img{
    max-width: 100px;
    margin-top: 25px;
}

.container-port .card .face.face1 .content .img-port2{
    max-width: 100px;
    margin-left: 100px;
}

.container-port .card .face.face1 .content .img-port3{
    max-width: 100px;
    margin-left: 40px;
}

.container-port .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #000;
    text-align: center;
    font-size: 1.5rem;
}

.container-port .card .face.face1 .content .text-port2{
    font-size: 20px;
}

.container-port .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container-port .card:hover .face.face2{
    transform: translateY(0);
}

.content{
    height: 220px;
}



.content ul{
    padding-left: 15px;
    list-style: none;
}

.content ul li{
    margin: 20px 0;
}

.content .barras{
    background-color: #ccc;
    display: block;
    width: 250px;
    height: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.barras > span{
    height: 20px;
    background: linear-gradient(to right, #fe4701, #ff0054);
    position: absolute;
}

.html{
    width: 80%;
}

.html-2{
    width: 75%;
}

.css{
    width: 50%;
}

.css-2{
    width: 65%;
}

.javascript{
    width: 35%;
}

.javascript-2{
    width: 38%;
}

/* DESIGN FOOTER */

footer{
    padding: 45px 4%;
    box-shadow: 0 0 40px 10px #ffffff34;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda {
    border-top: 2px solid rgb(0, 183, 255);
}

footer .line-footer p a{
    color: #fff;
}

footer .line-footer p{
    cursor: pointer;
}

footer .line-footer p i{
    color: rgb(0, 183, 255);
    font-size: 22px;
}


/* RESPONSIVO 1280*/
@media screen and (max-width: 1280px) {

    /* CLASSES GERAIS */
    .flex{
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    .logo a{
        display: none;
    }

    /* CABEÇALHO */
    .menu-desktop, .btn-contato{
        display: none;
    }

    /* TOPO DO SITE */
    section.topo-do-site{
        padding: 20px 8%;
    }

    .img-octcat img{
        top: 120px; /* Distância do topo */
        width: 300px;
        height: 300px;
        right: 140px;
        position: absolute;
    }

    .topo-do-site h1{
        font-size: 30px;
    }

    .topo-do-site .img-topo-do-site img{
        width: 100%;
    }

    section.topo-do-site .flex{
        gap: 35px;
    }

    /* ESPECIALIDADES */
    section.especialidades{
        padding: 40px 10%;
    }

    h2.titulo{
        font-size: 30px;
    }

    /* SOBRE */
    section.sobre{
        padding: 85px 10%;
    }

    .img-octcat2 img{
        display: none;
    }

    .sobre .txt-sobre h2{
        font-size: 30px;
    }

    .btn-social{
        margin-top: 55px;
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /* PORTFÓLIO */
    section.portfolio{
        padding: 80px 10%;
    }

    section.portfolio .flex{
        gap: 50px;
    }

    /* FORMULÁRIO */
    .img-octcat3 img{
        width: 440px;
        height: 440px;
        right: -75px;
        position: absolute;
    }
}

/* RESPONSIVO 1050 */
@media screen and (max-width: 1110px){

    /* TOPO */
    .img-octcat img{
        display: none;
    }

    /* FORMULÁRIO */
    .img-octcat3 img{
        display: none;
    }

    .container-port {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centralizar os cards horizontalmente */
    }

    .container-port .card .face.face1 .content{
        opacity: 1;
    }

    .container-port .card .face.face1 {
        background: rgb(0, 183, 255);
        transform: translateY(0);
    }

    .container-port .card .face.face2 {
        transform: translateY(0);
        margin-bottom: 80px;
    }
}

/* CSS */
.button-1,
.button-2,
.button-3 {
    background-color: #fff;
    border: none;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
    width: 300px;
    padding: 1rem 1.6rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-decoration-thickness: auto;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-1:hover,
.button-2:hover,
.button-3:hover {
    text-decoration: underline #000;
}

@media (min-width: 768px) {
    .button-1,
    .button-2,
    .button-3 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}




