
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.logo a{
    font-size: 20px;
    color: #fff;
}

.interface .logo a{
    margin: -15px;
}

div .btn-contato i{
    display: inline-block;
    font-size: 15px;
    color: #fff;
}

.btn-contato button{
    font-size: 18px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.btn-contato button:hover{
    font-weight: 700;
    transform: translateY(7px);
}

.btn {
    all: unset;
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .btn > .circle {
    --size: 2.5rem;
    position: absolute;
    left: 0;
    display: block;
    width: var(--size);
    height: var(--size);
    background-color: #fff;
    border-radius: 1.5rem;
    z-index: -1;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  }
  .btn > .text {
    margin-left: -17.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.45s;
  }
  .circle > i {
    font-size: 1rem;
    position: absolute;
    left: calc(var(--size) / 2);
    top: calc(var(--size) / 2);
    transform: translate(-50%, -50%);
    color: black;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  }
  
  .btn:hover > .circle {
    width: 50%;
  }
  .btn:hover > .circle > i {
    translate: 1rem 0;
  }
  .btn:hover > .text {
    color: black;
  }

div.txt-topo-site h2{
    margin-top: 10px;
    color: rgb(0, 183, 255);
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

h2.titulo span{
    color: rgb(0, 183, 255);
}

/* ESTILO DO CABEÇALHO */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #636262;
    text-decoration: none;
    display: inline-block;
}

.link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 0.5rem;
    position: relative;
    transition: all .35s ease;
}

  /* Link and Logo Hover Effects */
.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
}
  
.link::before {
    bottom: 0;
    left: 0;
}
  
.link:hover::before {
    transform: scaleX(1);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}
/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    width: 100%;
    padding: 235px 4%;
}

section.topo-do-site .flex{
    max-width: 700px; 
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    text-align: left;
    color: #fff;
    font-size: 39px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: rgb(0, 183, 255);
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
    text-align: left;
}

.content__container{
    font-size: 22px;
    color: rgb(0, 183, 255);
    font-weight: 600;
    overflow: hidden;
    height: 40px;
}
  
.content__container__text {
    display: inline;
    float: left;
    margin: 0;
}
  
  .content__container__list {
    margin-top: 0;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
  
.content__container__list__item {
    line-height: 40px;
    margin: 0;
}


svg{
  position: absolute;
  height: 300px;
  width: 500px;
  right: 290px;
  top: 250px;
}

/* KEYFRAMES */

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #000;
    }
  }

  @-webkit-keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }
  
  @-o-keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-o-keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }
  
  @-moz-keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }
  
  @keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }

/* ESTILO ESPECIALIDADES */
section.especialidades{
    padding: 60px 4%;
}

.especialidades-box img{
  width: 50px;
  height: auto;
}

.especialidades-box p{
  margin-bottom: 15px;
  text-align: left;
}

section.especialidades .flex{
  gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 25px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 17px #ffffff95;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: rgb(0, 183, 255);
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;;
}

/* ESTILO DO SOBRE */
section.sobre{
    display: flex;
    align-items: center;
    padding: 85px 4%;
    box-shadow: 0 0 40px 10px #ffffff34;
}

section.sobre .flex{
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.img-octcat2 img{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 0; /* Ajusta a posição da imagem à esquerda */
    transform: translateY(-50%);
}

.sobre .txt-sobre{
    flex: 1;
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: rgb(0, 183, 255);
    display: block;
}

.sobre .txt-sobre p {
    margin: 18px 0;
    text-align: left;
}

.sobre .txt-sobre p:nth-child(4){
    margin-bottom: 35px;
}

.btn-social button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: #fff;
    gap: 15px;
    font-size: 21px;
    cursor: pointer;
    margin: 0 5px;
}

.btn-social button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 17px #ffffff95;
    transition: 0.8s;
}

/* ESTILO DO PORTFÓLIO */

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff34;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.projeto1, .projeto3{
  color: #fff;
  display: flex;
  align-items: center;
  padding-bottom: 45px;
}

.projeto2{
  color: #fff;
  display: flex;
  flex-direction: row-reverse; /* Inverte a ordem dos itens na direção da linha (horizontal) */
  align-items: center;
  padding-bottom: 45px;
}

.projeto1 img,
.projeto2 img,
.projeto3 img{
  width: 600px;
  height: auto;
}

.description {
  margin-left: 25px;
  margin-right: 15px;
  border-left: #fff 2px solid;
  padding-left: 10px;
}

.description h3{
  padding-bottom: 15px;
}

.description p {
  margin-bottom: 10px; /* Adicionar espaçamento entre os parágrafos */
}

.description a {
  text-decoration: none; /* Remover sublinhado do link */
  color: aquamarine;
}

/* DESIGN FOOTER */

footer{
    padding: 45px 4%;
    box-shadow: 0 0 40px 10px #ffffff34;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda {
    border-top: 2px solid rgb(0, 183, 255);
}

footer .line-footer p a{
    color: #fff;
}

footer .line-footer p{
    cursor: pointer;
}

footer .line-footer p i{
    color: rgb(0, 183, 255);
    font-size: 22px;
}


/* RESPONSIVO 1280*/
@media screen and (max-width: 1280px) {

    /* CLASSES GERAIS */
    .flex{
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    .logo a{
        display: none;
    }

    /* CABEÇALHO */
    .nav-list{
        display: none;
    }

    .circle > i{
        display: none;
    }

    .btn > .circle{
        width: 38%;
    }

    .btn:hover > .circle{
        width: 38%;
    }

    .btn > .text {
        margin-left: -27.25rem;
      }

    /* TOPO DO SITE */
    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site h1{
        font-size: 30px;
    }

    .topo-do-site .img-topo-do-site img{
        width: 100%;
    }

    section.topo-do-site .flex{
        gap: 35px;
    }

    /* ESPECIALIDADES */
    section.especialidades{
        padding: 40px 10%;
    }

    h2.titulo{
        font-size: 30px;
    }

    /* SOBRE */
    section.sobre{
        padding: 85px 10%;
    }

    .img-octcat2 img{
        display: none;
    }

    .sobre .txt-sobre h2{
        font-size: 30px;
    }

    .btn-social{
        margin-top: 55px;
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /* PORTFÓLIO */
    section.portfolio{
        padding: 80px 10%;
    }

    section.portfolio .flex{
        gap: 50px;
    }
}

/* RESPONSIVO 1050 */
@media screen and (max-width: 1110px){

    /* TOPO */


    .nav-list{
        display: none;
    }

    .circle > i{
        display: none;
    }

    .btn > .circle{
        width: 38%;
    }

    .btn:hover > .circle{
        width: 38%;
    }

    .btn > .text {
        margin-left: -27rem;
    }
}

/* RESPONSIVO 768px */
@media screen and (max-width: 768px) {

.button-1,
.button-2,
.button-3 {
    font-size: 1.125rem;
    padding: 1rem 2re
}

.btn > .circle{
    width: 65%;
}

.btn:hover > .circle{
    width: 65%;
}

.btn > .text {
    margin-left: -7rem;
}
}
